<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/service.css" />
    <script defer src="script.js"></script>
    <title>Challenge 2</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">Shoe Haven</div>

      <ul class="nav-links">
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="service.html">Services</a></li>
        <li><a href="contactus.html">Contact</a></li>
      </ul>
      <div class="nav-btns">
        <button id="loginBtn" class="btn secondary-btn show-login-form">
          Login
        </button>
        <button id="registerBtn" class="btn Register show-register-form">
          Register
        </button>
      </div>

      <div class="menu-toggle">&#9776;</div>
    </nav>
    <div class="container">
      <h1>Our Services</h1>
      <p>We provide top-quality footwear and exceptional customer service.</p>

      <div class="service-item">
        <h2>Custom Shoe Design</h2>
        <p>
          Get shoes designed according to your preference, style, and comfort
          needs.
        </p>
      </div>

      <div class="service-item">
        <h2>Footwear Repair</h2>
        <p>
          We offer expert shoe repair services to keep your favorite pair
          looking new.
        </p>
      </div>

      <div class="service-item">
        <h2>Personalized Fittings</h2>
        <p>
          Find the perfect fit with our in-store fitting and measurement
          services.
        </p>
      </div>

      <div class="service-item">
        <h2>Home Delivery</h2>
        <p>
          Enjoy fast and reliable doorstep delivery of your favorite footwear.
        </p>
      </div>
    </div>
  </body>
</html>
